.Image figcaption {
  font-size: 0.75rem;
  text-align: center;
  margin: 1rem 0 2.5rem 0;
}

.Image section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: -10% 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .Image img {
    border-radius: 20px;
    height: 70vh;
    box-shadow: 0 0 1rem 0.5rem var(--color-blue);
  }

  @keyframes fade-in {
    from {
      scale: 0.8;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
