.footer {
  width: 100vw;
  height: 15vh;
  max-height: 10rem;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
  z-index: 1;
}
