.button {
  border: none;
  background: none;
  color: var(--color-black);
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-weight: 700;
  text-wrap: nowrap;
  border-radius: 3%;
  transition: 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
}
