.article {
  max-width: 80%;
}

.article h2 {
  color: var(--color-dark-blue);
  text-decoration: overline;
  font-size: 3rem;
}

.article h3 {
  color: var(--color-blue);
  margin-top: 5%;
  text-decoration: overline;
  font-size: 1.5rem;
}

.article p {
  color: var(--color-white);
  font-size: 1.25rem;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 5%;
  text-indent: 1cm;
  line-height: 1.5;
}
