.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(1rem + 5vh);
  gap: 5vw;
  flex-direction: row;
  width: 100%;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-black);
}

.Navbar a {
  transition: 0.5s ease;
  font-size: calc(1rem + 0.75vw);
}

.Navbar a:hover {
  transform: scale(1.1);
}

.Navbar a.active {
  text-decoration: underline;
}

.logoContainer {
  background-color: var(--color-black);
  color: var(--color-blue);
}
