.NavBar {
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-direction: row;
  width: 100%;
  font-weight: 700;
}

.NavBar a {
  transition: 0.5s ease;
  font-size: 1.5rem;
}

.NavBar a:hover {
  transform: scale(1.1);
}

.NavBar a:global(.active) {
  text-decoration: underline;
}
