.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: calc(1rem + 1vw) calc(1rem + 1vh);
  gap: calc(1rem + 1vh);
}

.copy h2,
.copy h3 {
  text-align: center;
}

.copy p {
  text-align: left;
  text-justify: left;
  font-size: 1rem;
}

.copy figcaption {
  max-width: 75vw;
  text-align: left;
  padding-top: 1rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: calc(1rem + 1vh);
}
