.logo {
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: overline;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(105%);
  cursor: pointer;
}

.logoFooter {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: overline;
  transition: 0.5s ease;
  margin: 0 auto;
}

.logoFooter:hover {
  transform: scale(102%);
  cursor: pointer;
}
