.logo {
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: overline;
  transition: 0.5s ease;
  text-align: center;
  padding: 1.5vh 0;
  background-color: var(--color-dark-blue);
  color: var(--color-black);
  text-shadow: 1px 1px 1px var(--color-red);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo:hover {
  transform: scale(105%);
  cursor: pointer;
}

.logoFooter {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: overline;
  transition: 0.5s ease;
  margin: 0 auto;
}

.logoFooter:hover {
  transform: scale(102%);
  cursor: pointer;
}
